*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   background-color:#000000;
}
nav .contaner{
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid rgb(126, 126, 126);
}
nav .contaner h1 span{
   color:#940000;
}
nav .contaner h1{
   color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
 nav .contaner .row ul{
    display: flex;
    text-decoration: none;
 }
 nav .contaner .row ul li{
    text-decoration: none;
    list-style: none;
 }
 nav .contaner .row ul li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: larger;
    text-decoration: none;
   margin: 20px;
   transition: all .5s;
 }
 nav .contaner .row ul li a:hover{
    color:#940000 ;
    border-bottom: 3px solid #940000;

 }
 nav .sign button{
    font-size: larger;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border-width: 0px;
    color: white;
    background-color: #940000;
    &.sign{
        color: rgb(248, 248, 248);
        border: 0;
        background-color: #000000;
    }
 }
   .bar{
    font-size: x-large;
    display: none;
    color: gray;
  
   }
   .center{
      height: 100 vh;
   
    display: flex;
    justify-content: space-around;
   }
   .sec1{
      color: white;
    width: 45%;
    margin: 50px 20px;
   }
   .sec1 h1{
    margin: 20px auto;
    font-size: 60px;
   }
  
   .sec1 p{
font-size: 30px;
margin-bottom: 30px;
   }
   .sec1 h1 span{
      color: #940000;
   }
   .sec1 button.n{
    font-size: 20px;
    border-radius: 30px;
    border-width: 0;
    background-color: #940000;
    color: white;
    padding: 15px 25px;
   }
   .aa i{
      position: fixed;
      right: 60px;
      font-size: 30px;
      cursor: pointer;
      color: white;
      background-color: #000000;
      padding: 10px;
      border-radius: 100px;
      }
.sec2{
   margin-top: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
 
}
.sec2 img.light{
   position: relative;
   width: 60%;
   display: none;
}
.sec2 img.dark{
  
   position: relative;
   width: 60%;
}

   @media (max-width : 900px){
      header{
         margin: 0;
      }
         .bar{
         display:contents;
         }
          nav .row , nav .sign{
            display: none;
           }
           .center{
           display: inline;
            width: 100%;
           }
           .sec1{
            padding: 10% 0;
            width: 100%;
            margin: 0;
           }
           .sec1 h1, .sec1 p{
            padding: 0 10%;
           }
           .sec1 button.n{
           margin:0 13% ;
           }
           
           .sec2{
            padding: 10% 0;
            margin: 0;
         width: 100%;
         text-align: center;
           }
     }